.orgchart-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.orgchart-header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Impact', sans-serif;
    color: #0161AA;
}

#orgchart-header-text-title {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

#orgchart-header-text-chief {
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#orgchart-header-text-chief #chief-of-police {
    font-size: 18px;
}

#orgchart-header-text-date {
    font-size: 20px;
    font-weight: normal;
    color: #FF0000;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.orgchart-header-city-img, .orgchart-header-lspd-img {
    width: 150px;
    height: 150px;
}